
<div class="container">
                 <div class="row">
                     <div class="col-lg-4">
                          <form id="form_spot" action="" method="GET"  class="form-inline my-2 my-lg-0 sumbitted">
                    <input id="search-input" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button id="submit-search" class="btn btn-outline-success my-2 my-sm-0" type="submit">search</button>
                  </form>
                     </div>
                 </div>
             </div>

<div class="container-fluid">
  {{#grouped_each 3 merchant3}}
  <div class="row mt-5 card-rows">

    {{#each this}}
    <div class="col col-lg-4 col-sm-12">
      <div class="card card-style">
        <img class="card-img-top" src={{this.photolink}}
          alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{this.product_name}}</h5>
          <p class="card-text">${{this.price}}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Stock: {{this.stock_quantity}}</li>
        </ul>
        <div class="card-body">
          <a href="/new/{{this.product_name}}" class="card-link">Details</a>
          {{!-- <a onclick="addToCart()" class="card-link">Add to Cart</a> --}}
          <div class="btn card-link cartSubmit" data-product="{{this.id}}">Add to Cart</div>
        </div>
      </div>
    </div>

    {{/each}}

  </div>
  {{/grouped_each}}
</div>

<script>
   


$("#submit-search").on("click", function(event) {
   
    event.preventDefault();
    console.log(event)

    var catagory = $("#search-input").val().trim()
    $('#form_spot').attr('action', '/new/' + catagory).submit()
 

}); 



$(".cartSubmit").on("click", this, function(event) {
    event.preventDefault();
  var selectedProduct = $(this).data("product");

  console.log(event)
    // Here we grab the form elements
    

    console.log(selectedProduct);

 

    // $.post("/api/cart/" + selectedProduct,
      //function(data) {

        //if (data) {
          //alert("It worked!");
        //}

        //else {
          //alert("Didnt Work");
       // }
     // });

   $.post("/api/cart/" + selectedProduct,
      function(data) {

        if (data) {
          alert("It worked!");
        }

        else {
          alert("Didnt Work");
        }
      });

  });

</script>